@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: 'Cairo', sans-serif;
}
html{
  font-family: 'Cairo', sans-serif;
}
:root{
  --main-color:#03A9F4
}
a{
  text-decoration: none;
}
body{
  height: 100vh;
  width:100%;
  position: relative;
}
body::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background:url('background.jpg');
  background-size: cover;
}
body::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(9, 9, 9, 0.46);
}
.loading{
  z-index:9;
  position: fixed;
  display:block;
  margin:0;
  margin:auto;
  top: 50%;
  left: 45%;
  width: 70px;
  height: 70px;
  transform: translate(-50% , -50%);
  border: 4px solid var(--main-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: myAnim 0.5s linear infinite ;
}
@keyframes myAnim{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.content{
  text-align: center;
  z-index: 5;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
.nav.act{
  margin-top: 15px;
    direction: rtl;
    color: white !important;
}
.nav a , .nav span{
  color: white;
}
.container{
  position: relative;
  z-index: 4;
  padding: 0 60px;
  text-align: center;
}
.date{
  padding-top: 30px;
  color: white;
}
.date span{
  color: var(--main-color);
}
.box-select{
  width: 700px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

a.box-country{
  display: flex;
  align-items: center;
  color: var(--main-color);
  margin: 8px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;
  overflow: hidden;
  text-align: start;
  height: 40px;
  color: var(--main-color) !important;
}
a.box-country span{
  flex: 1;
  color: var(--main-color);
  padding: 0 20px;
}
a.box-country img{
  width: 60px;
  height: 100%;
}

h2.title{
  color: var(--main-color);
}
.match{
  width: 700px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  color: white;
}
.box{
  background-size:cover;
  padding: 20px;
  box-shadow:  0 0 10px rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, 0.202);
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}  

.box p{
  color: white !important;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.box .logo{
  width: 56px;
  margin:auto
}
.box p:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 4;
  color: var(--main-color);
  -webkit-text-stroke: 1px #b6b0b0e0;
  font-size: 18px;
}


.match-details{
  width: 600px;
  margin: auto;
  max-width: calc(100%);
  position: relative;
  border-radius: 6px;
  background-color: #040d17;
  color: white !important;
}

.match-details .leaguelogo{
  width: 75px;
  padding: 5px;
}
.match-details .country{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}
.match-details  .header{
  padding: 20px;
}
.match-details  *{
    color: white ;

}
.match-details .cards{
  display: grid;
  grid-template-columns: 1fr 1fr;gap: 
  50px;
  align-items: center;
  
}
.match-details .cards p{
  padding: 4px 6px;
}
.match-details .cards .card{
  width: 13px;
  height: 18px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
    transform: rotate(5deg);
}
.match-details .cards .card.yellow{
  background-color: yellow;
}
.match-details .cards .card.red{
  background-color: red;
}
.match-details p.gool{
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}
.match-details p.gool span:nth-child(1){
  color: var(--main-color);
}

.match-details p.gool span:nth-child(3){background: white;width: 15px;height: 15px;display: inline-block;border-radius: 50%;padding:0;}

.match-details p.gool span:nth-child(3) img{width: 100%;height: 100%; display: block;margin: 0 !important;}

.match-details .stats div{
  padding: 5px 0;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
.match-details .infomatch {
  text-align: end;
  padding: 20px 0;
}
.match-details .infomatch p{
  color: var(--main-color);
  margin: 8px 0;

}
.match-details .stats{
  margin: 30px 0;
}
.match-details .infomatch p span{
  color: white;
  display: block;
}
@media(max-width:767px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .box-match .match-details,    .match-details .infomatch {
    padding: 15px;
  }
  .match-details .cards{
    gap: 5px;
  }
  *{
    font-size: 11px !important;
  }
  .close a{
    font-size: 16px !important;
  }
  .match-details .stats {
    margin: 25px 0;
  }
}
